node_modules
www
.vscode
plugins
yarn-error.log
.sourcemaps
people.json
platforms/android/CordovaLib/build
platforms/android/.gradle/4.4
platforms/android/.gradle
platforms/ios/Scheduler.xcworkspace/xcuserdata/neil.xcuserdatad
test-results.xml
build
