<ion-header>
    <ion-navbar color="primary">
        <ion-title>Reset Password</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="notSignedIn">
    <div class="login-box" *mobxAutorun>
        <ion-slides>
            <ion-slide>
                <div *ngIf="form">
                    <form [formGroup]="form" ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-list inset>
                                    <ion-item>
                                        <ion-label stacked>Your Email</ion-label>
                                        <ion-input name="email" type="text"
                                                   autocomplete="email"
                                                   placeholder="Email" formControlName="email"
                                                   [ngModel]="registrationEmail"
                                                   (ngModelChange)="setRegistrationEmail($event)"
                                        >
                                        </ion-input>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                        </ion-row>

                        <show-form-errors [control]="form"></show-form-errors>

                        <ion-col class="signup-col" text-center>
                            <button ion-button (click)="theyForgot()">
                                Reset my Password
                            </button>
                        </ion-col>
                    </form>
                </div>

                <br/>
                <br/>
                <br/>
                <br/>

                <ion-grid>
                    <ion-row>
                        <button ion-col text-center clear ion-button class="register-btn"
                                (click)="goBackToLogin()">
                            Back to Login
                        </button>
                    </ion-row>
                </ion-grid>

                <ion-spinner class="center-spinner" *ngIf="thinking"></ion-spinner>
            </ion-slide>

            <ion-slide class="waitingForConfirm">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <h2>We've sent you an email</h2>
                            <p>A email has been sent to {{registrationEmail}}, please follow the
                                instructions to reset your password.</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-spinner class="center-spinner"></ion-spinner>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <button ion-col text-center ion-button (click)="cancelWaitingForConfirmation()">
                            Cancel
                        </button>
                    </ion-row>
                </ion-grid>
            </ion-slide>

            <ion-slide #emailConfirmedChangeThePassword>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <h2>Enter a new password</h2>
                        </ion-col>
                        <ion-col>
                            <div *ngIf="pwdForm">
                                <form [formGroup]="pwdForm" ion-grid>
                                    <ion-row>
                                        <ion-col>
                                            <ion-list inset>
                                                <ion-item>
                                                    <ion-label stacked>New password</ion-label>
                                                    <ion-input name="password" type="password"
                                                               placeholder="Password" formControlName="password1"
                                                               [ngModel]="password1"
                                                               (ngModelChange)="setPassword1($event)"
                                                    >
                                                    </ion-input>
                                                    <ion-input name="password" type="password"
                                                               placeholder="Again to confirm" formControlName="password2"
                                                               [ngModel]="password2"
                                                               (ngModelChange)="setPassword2($event)"
                                                    >
                                                    </ion-input>
                                                </ion-item>
                                            </ion-list>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col>
                                            <show-form-errors [control]="pwdForm"></show-form-errors>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col class="signup-col" text-center>
                                            <button ion-button [disabled]="pwdForm.invalid" (click)="setNewPassword()">
                                                Set Password
                                            </button>
                                        </ion-col>
                                    </ion-row>
                                </form>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
