<div>
    <ion-list>
        <ion-list-header color="light">Info</ion-list-header>
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input [(ngModel)]="person.name"></ion-input>
        </ion-item>

        <ion-list-header color="light">Roles</ion-list-header>
        <ion-item *ngFor="let role of person.roles">
            {{role.name}}
        </ion-item>

        <ion-list-header color="light">Schedule On</ion-list-header>
        <ion-item *ngFor="let sd of scheduled_dates()">
            {{sd.date|date}} - {{sd.score_for(person).roles|pluck:'name'|join:", "}}
        </ion-item>

        <ion-list-header color="light">Unavailable</ion-list-header>
        <ion-item *ngFor="let u of person.unavailable_by_date">
            <div *ngIf="u.is_date_range">{{u.from_date|date}} to {{u.to_date|date}} </div>
            <div *ngIf="!u.is_date_range">{{u.from_date|date}}</div>
        </ion-item>
    </ion-list>
</div>
