<ion-header>

    <ion-navbar *ngIf="person">
        <ion-title *showItBootstrap="['sm','md','lg','xl']">Assignment for {{person_name_details}}</ion-title>
        <ion-title *xs>{{person.name}}</ion-title>
    </ion-navbar>
    <saving-state></saving-state>
</ion-header>


<ion-content *mobxTraceAutorun>
    <div *ngIf="person">
        <ion-list-header color="light">Availability</ion-list-header>
        <ion-item-group>
            <availability-options [person]="person"
                                  [readonly]="!canEditPerson"
                                  (availabilityChange)="person.availability = $event"></availability-options>
        </ion-item-group>

        <ion-list-header color="light">
            Roles
            <ion-buttons item-end>
                <button ion-button clear small (tap)="add_new_role()" *ngIf="canManagePlan">
                    Add Role
                </button>
            </ion-buttons>
        </ion-list-header>
        <ion-item-group>
            <role-summary [readonly]="!canEditPerson" [assignment]="assignment" (tapped)="role_tapped($event)"></role-summary>
        </ion-item-group>

        <ion-list-header color="light">
            Rules
            <ion-buttons item-end>
                <button ion-button clear small (tap)="add_new_rule()" *ngIf="canManagePlan">
                    Add Rule
                </button>
            </ion-buttons>
        </ion-list-header>
        <!--<ion-item-group>-->
        <rule-details [readonly]="canEditPerson" [assignment]="assignment"></rule-details>
        <!--</ion-item-group>-->

        <person-unavailable [person]="person" [readonly]="!canEditPerson"></person-unavailable>
    </div>
</ion-content>
