<ion-header>

    <ion-navbar *ngIf="person">
        <ion-title *showItBootstrap="['sm','md','lg','xl']">Assignment for {{person_name_details}}</ion-title>
        <ion-title *xs>{{person.name}}</ion-title>
    </ion-navbar>
    <saving-state></saving-state>
</ion-header>


<ion-content *mobxAutorun>
    <div *ngIf="person">
        <!--<ion-list no-padding no-margin>-->
            <!--<ion-item>-->
                <!--<ion-label text-center>{{person_name_details}}</ion-label>-->
            <!--</ion-item>-->
        <!--</ion-list>-->

        <ion-list-header color="light">Availability</ion-list-header>
        <ion-item-group>
            <availability-options [person]="person"
                                  (availabilityChange)="person.availability = $event"></availability-options>
        </ion-item-group>

        <ion-list-header color="light">
            Roles
            <ion-buttons item-end>
                <button ion-button clear small (tap)="add_new_role()">
                    Add Role
                </button>
            </ion-buttons>
        </ion-list-header>
        <ion-item-group>
            <role-summary [assignment]="assignment" (tapped)="role_tapped($event)"></role-summary>
        </ion-item-group>

        <ion-list-header color="light">
            Rules
            <ion-buttons item-end>
                <button ion-button clear small (tap)="add_new_rule()">
                    Add Rule
                </button>
            </ion-buttons>
        </ion-list-header>
        <!--<ion-item-group>-->
        <rule-details [assignment]="assignment"></rule-details>
        <!--</ion-item-group>-->

        <person-unavailable [person]="person"></person-unavailable>
    </div>
</ion-content>
