<ion-header no-border>
    <ion-navbar no-border>
        <ion-title>My Profile</ion-title>
    </ion-navbar>
    <saving-state></saving-state>
</ion-header>


<ion-content no-padding *mobxAutorun>
    <div *ngIf="store.loggedInPerson$ | async as person">
        <organization-editor [organization]="person.organization"></organization-editor>

        <div *ngIf="person.invites.length > 0">
            <ion-list-header color="light">Invites</ion-list-header>
            <notifications *ngIf="person.invites.length > 0"></notifications>
        </div>

        <person-details [person]="person"></person-details>
    </div>
</ion-content>
