<ion-header>

    <ion-navbar *ngIf="role">
        <ion-title>{{role.name}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content no-padding *ngIf="role">
    <ion-list no-margin>
        <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input [ngModel]="role.name" [readonly]="!canManage" (ngModelChange)="role.setName($event)"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list-header color="light">Layout Priority ({{role.layout_priority}})</ion-list-header>
    <ion-list no-padding>
        <ion-item>
            <ion-range min="0" max="10" [disabled]="!canManage" [ngModel]="role.layout_priority"
                       (ngModelChange)="role.setLayoutPriority($event)">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>20</ion-label>
            </ion-range>
        </ion-item>
    </ion-list>

    <ion-list-header color="light">Min/Max # of people {{role.minimum_needed}}/{{role.maximum_wanted}}</ion-list-header>
    <ion-range min="0" max="6" [ngModel]="role.minimum_needed" [disabled]="!canManage"
               (ngModelChange)="role.setMinimumNeeded($event)">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>6</ion-label>
    </ion-range>
    <ion-range min="0" max="6" [ngModel]="role.maximum_wanted" [disabled]="!canManage"
               (ngModelChange)="role.setMaximumWanted($event)">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>6</ion-label>
    </ion-range>

    <ion-list-header color="light">Usage</ion-list-header>
    <ion-list>
        <ion-item *ngFor="let usage of store.findWhatRoleIsUsedIn(role)">
            <ion-label>{{usage}}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>
