<ion-header>
    <ion-navbar>
        <ion-title>Teams</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="add_new_team()" *ngIf="canManage">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <saving-state></saving-state>
</ion-header>


<ion-content *mobxTraceAutorun="'trace'">
    <ion-list>
        <ion-item-sliding *ngFor="let t of teams" [attr.class]="t.uuid">
            <ion-item detail-push (tap)="showTeamDetail(t)">
                <ion-label>{{t.name}}</ion-label>
            </ion-item>
            <ion-item-options side="right" *ngIf="canManage">
                <button ion-button color="danger" (tap)="deleteTeam(t)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>

