schedule-viewer {
  .full {
    .col {
      padding: 0px !important;
    }
    .heading {
      font-weight: bold;
      padding-left: 5px !important;
    }
    .range {
      border-left: 5px solid rgba(map_get($colors, 'dark'), 0.75);
    }
    .notrange {
      border-left: 5px solid transparent;
    }
    .even {
      background-color: rgba(black, 0.05);
    }
    .selected, .clicked, .notselected {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      &.selected {
        color: white;
        background-color: rgba(map_get($colors, 'secondary'), 0.6);
      }
      &.clicked {
        color: white;
        background-color: map_get($colors, 'primary');
      }
    }
  }

  // no shadows for md buttons please
  .button-md {
    box-shadow: none;
  }

  .smallDate {
    border-bottom: 1px solid #eee !important;
    padding-bottom: 10px;
    //margin-bottom: 10px;
    margin-top: 8px;
  }

  .small {
    .heading, .subheading {
      font-weight: bold;
      background: map_get($colors, 'primary');
      color: white; //map_get($colors, 'light');
    }

    .horizScheduleGrid {
      ion-row:nth-child(2) {
        ion-col {
          //border-right: 1px solid lightgrey;
        }
      }
      ion-col:first-child {
        padding-bottom: 5px !important;
      }

      ion-col:nth-child(2) {
        padding-left: 8px !important;
      }

      border-bottom: 1px solid lightgrey;
    }

  }

  .me {
    font-weight: bold;
  }

  .people {
    // This puts commas between the various people in the list
    span + span:before {
      content: ", ";
    }
  }
}
