schedule-viewer {
  .heading {
    font-weight: bold;
  }
  .range {
    background-color: rgba(darkred, 0.2);
  }
  .even {
    background-color: rgba(black, 0.05);
  }
  .selected {
    background-color: darkred;
    color: white;
  }

  ion-slides {
    .swiper-slide {
      font-size: 13px;
    }
  }
}
