<div>
    <h6>
        Showing detail for : {{hover}}
    </h6>

    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let header of headers">{{header|uppercase}}</ion-col>
        </ion-row>
        <ion-row *ngFor="let row of rows">
            <ion-col>
                {{row['date'].toDateString()}}
            </ion-col>
            <ion-col *ngFor="let key of keys_for_row(row)"
                     [ngClass]="{'range':in_exclusion_zone(row, key)}">
                <div *ngFor="let person of value_as_array(row[key])"
                     [ngClass]="{'selected':selected_and_in_role(row, key)}"
                     (click)="select(person)">
                    {{person.name}}
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
