page-home {
  #planselection ion-select {
    max-width: 100% !important;
  }

  .editButton {
    margin-left: 8px !important;
  }
}

.notSignedIn {
  background-image: url("../../assets/calendar-large.jpg");
  background-size: cover;
  height: 100%;

  .title {
    font-weight: 300;
    font-size: 4em;
    padding-top: 100px;
  }

  .buttons {
    .signInButton {
      margin-top: 40px;
      margin-bottom: calc(100% + 30px);
    }
  }
}

