<ion-header>
    <ion-toolbar>
        <ion-title>
            Schedule <span *ngIf="store.ui_store.have_selection">for {{store.ui_store.selected_person?.name}}</span>
        </ion-title>
        <ion-buttons end>
            <button ion-button
                    (click)="clear_selection()"
                    [disabled]="!store.ui_store.have_selection">Deselect
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col auto>
                <schedule-viewer
                        [schedule]="store.schedule"
                ></schedule-viewer>
            </ion-col>
            <ion-col *ngIf="store.ui_store.have_selection" col-3>
                <person-editor
                        [schedule]="store.schedule"
                        [person]="store.ui_store.selected_person">
                </person-editor>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
