<ion-header>
    <ion-toolbar>
        <ion-title>Dashboard</ion-title>
        <button start ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end class="notifications" *ngIf="store.loggedInPerson$|async as person">
            <button ion-button (tap)="showNotifications($event)" *ngIf="person.invites.length > 0">
                <ion-badge color="danger">{{person?.invites.length}}</ion-badge>
                <!--<ion-icon name="more"></ion-icon>-->
            </button>
            <button ion-button icon-only (tap)="showSubmenu($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <saving-state></saving-state>
</ion-header>

<ion-content>
    <div *ngIf="store.uiStore$|async as ui">
        <div *ngIf="server">
            <div *ngIf="server.isLoggedIn">
                <div class="loading" *ngIf="!server.isReady; else main">
                    <ion-spinner [duration]="1000"></ion-spinner>
                </div>
                <ng-template #main>
                    <ion-grid no-padding>
                        <welcome-wizard
                                *ngIf="hasNoPlans"
                                (createPlanClicked)="createPlanWizard()"
                                (createTeamClicked)="createTeamWizard()"
                        >
                        </welcome-wizard>

                        <!--<div *mobxTraceAutorun>-->
                        <div *ngIf="!hasNoPlans">
                            <show-plan *ngIf="!hasNoPlans" (editPlanClicked)="editPlan($event)"></show-plan>
                            <div *ngIf="store.schedule$ | async as schedule">
                                <schedule-viewer [schedule]="schedule"
                                                 [me]="store.loggedInPerson$|async"></schedule-viewer>
                                <person-schedule [schedule]="schedule"
                                                 [person]="store.loggedInPerson$|async"></person-schedule>
                                <person-unavailable *ngIf="store.loggedInPerson$|async as p"
                                                    [person]="p"></person-unavailable>
                            </div>
                        </div>
                        <!--</div>-->
                    </ion-grid>
                </ng-template>
            </div>
        </div>
    </div>
</ion-content>


<!--<ion-buttons *ngIf="(store.saved_state$ | async) as state">-->
<!--<button small ion-button-->
<!--(click)="export_as_csv()">To CSV-->
<!--</button>-->
<!--<button small ion-button *ngIf="state.have_previous_selection"-->
<!--(click)="read_as_previous_schedule()">Read Previous...-->
<!--</button>-->
<!--<button small ion-button *ngIf="!state.have_previous_selection"-->
<!--(click)="select_previous_schedule()">Select Previous...-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-footer>-->

