page-home {
  #planselection ion-select {
    max-width: 100% !important;
  }
}

.notSignedIn {
  background-image: url("../../assets/calendar-large.jpg");
  background-size: cover;

  .title {
    font-weight: 300;
    font-size: 4em;
    padding-top: 100px;
  }

  .buttons {
    //position: relative;
    //bottom: 0;
    //width: 100%;

    .signInButton {
      margin-top: 40px;
      margin-bottom: calc(100% + 30px);
    }
  }
}

