<ion-header>
    <ion-toolbar>
        <ion-title>
            Schedule <span *ngIf="rootStore.ui_store.have_selection">for {{rootStore.ui_store.selected_person?.name}}</span>
        </ion-title>
        <ion-buttons end>
            <button ion-button
                    (click)="clear_selection()"
                    [disabled]="!rootStore.ui_store.have_selection">Deselect
            </button>
            <button ion-button
                    (click)="export_as_csv()">CSV
            </button>
            <button ion-button *ngIf="rootStore.ui_store.signed_in"
                    (click)="export_as_sheets()">Sheets
            </button>
            <button ion-button *ngIf="!rootStore.ui_store.signed_in"
                    (click)="login()">Login
            </button>
            <button ion-button *ngIf="rootStore.ui_store.signed_in"
                    (click)="logout()">Logout
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col auto>
                <schedule-viewer></schedule-viewer>
            </ion-col>
            <ion-col *ngIf="rootStore.ui_store.have_selection" col-3>
                <person-editor></person-editor>
                <reasons
                    [decisions]="rootStore.schedule.reasons_for(rootStore.ui_store.selected_person, rootStore.ui_store.selected_date)"
                >
                </reasons>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
