@import "/assets/css/ag-grid.css";
@import "/assets/css/ag-theme-balham.css";
@import "/assets/css/ag-theme-balham-dark.css";
@import "/assets/css/ag-theme-dark.css";
@import "/assets/css/ag-theme-bootstrap.css";
@import "/assets/css/ag-theme-fresh.css";
@import "/assets/css/ag-theme-blue.css";
@import "/assets/css/ag-theme-material.css";

.center-spinner {
  text-align: center;
  width: 100%;
  margin: auto;

  margin-top: 25px;
}

