<div>
    <ion-list *ngIf="person != null" no-padding no-margin>
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input placeholder="Joe" [(ngModel)]="person.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input [(ngModel)]="person.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Phone</ion-label>
            <ion-input [(ngModel)]="person.phone"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list-header color="light">Availability</ion-list-header>
    <ion-item-group>
        <availability-options [availability]="person?.availability"></availability-options>
    </ion-item-group>

    <ion-list-header color="light">
        Roles
        <ion-buttons item-end>
            <button ion-button clear small (tap)="add_new_role()">
                Add Role
            </button>
        </ion-buttons>
    </ion-list-header>
    <ion-item-group>
        <role-summary [person]="person" (tapped)="role_tapped($event)"></role-summary>
    </ion-item-group>

    <ion-list-header color="light">
        Rules
        <ion-buttons item-end>
            <button ion-button clear small (tap)="add_new_rule()">
                Add Rule
            </button>
        </ion-buttons>
    </ion-list-header>
    <ion-item-group>
        <rule-details [role]="role" [person]="person"></rule-details>
    </ion-item-group>
</div>
