<ion-header>

    <ion-navbar>
        <ion-title>Plan Detail</ion-title>

        <ion-buttons end>
            <button item-end ion-button icon-only (tap)="add_assignment()">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <saving-state></saving-state>
</ion-header>


<ion-content>
    <div *ngIf="plan">
        <ion-list no-padding no-margin>
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input text-right placeholder="Plan name" [ngModel]="plan.name"
                           (ngModelChange)="plan.setName($event)"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Start Date</ion-label>
                <ion-datetime [(ngModel)]="startDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>End Date</ion-label>
                <ion-datetime [ngModel]="plan.end_date.toISOString()"
                              (ngModelChange)="plan.setEndDateFromISO($event)"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Days between events</ion-label>
                <ion-range min="1" max="7" [ngModel]="plan.days_per_period"
                           (ngModelChange)="plan.setDaysPerPeriod($event)">
                    <ion-label range-left>1</ion-label>
                    <ion-label range-right>7</ion-label>
                </ion-range>
            </ion-item>
        </ion-list>

        <ion-list-header color="light">
            Role Assignment
        </ion-list-header>
        <ion-searchbar [(ngModel)]="name_filter"></ion-searchbar>
        <ion-list>
            <ion-item-sliding *ngFor="let p of sorted_people">
                <ion-item (tap)="show_assignment(p)" text-wrap>
                    <h2>{{p.name}}</h2>
                    <p>{{description_for_person(p)}}</p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (tap)="delete_assignment_for_person(p)">Delete</button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>
