page-team-wizard {
  .tip {
    padding: 10px;
  }

  .heading {
    text-align: center;
  }

  ion-slide {
  }

  .summary {
    h1 {
    }
  }

  ion-footer {
    p {
      text-align: center;
      color: $subdued-text-color;
    }
  }
}
